.five-pointed-star {
    --star-color:orange;
    margin:1em auto;
    font-size:5em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px; 
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
   }
   /* .five-pointed-star:before {
    --star-color:transparent;
    margin:1em auto;
    font-size:10em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
   } */

   .five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
   }
   .five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
   }
  .Star-Container {
    display: flex;
    flex-direction: row;
    border-style: solid;
    max-width: 50em;
  }
