.main-div {
    border-style: solid;
}

.modular-div{
    order-style: solid;
}

.location {
    order-style: solid;
}

.icon {
    order-style: solid;
}

.weather{
    order-style: solid;
}

.temp {
    order-style: solid;
}